// Navigation code here
.nav-container{
    // display: flex;
    width: 30%;;
    margin: 20px auto;
    h1{
        text-align: center;
        margin-bottom: 10px;
    }
    nav{
        width: 100%;
        .set-flex(row,space-between,center);
        font-size: 2rem;
        a{
            text-decoration: none;
            color: black;
        }
        @media @phone{
            justify-content: space-evenly;
        }
    }

    @media @phone{
        width: 100%;
    }
}